<div class="card">
    <p>Snaplistings has become a vital extension of our leasing and marketing department at Stonehenge and has
        helped
        seamlessly bridge the gap </p>
</div>
<div class="card">
    <p> Flawless execution. Highly highly customized approach. Best firm I have worked with over 35 years!</p>
</div>
<div class="card">
    <p>to rapidly pivot the advertising approach was crucial in keeping us competitive in a very active buyers’
        market.
    </p>
</div>
<div class="spacer"></div>