:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-color: rgb(237, 244, 217);
    border-width: 2px 2px 5px 2px;
    border-style: solid;
    border-radius: 16px;
    opacity: 1;
    margin: 5rem;
    height: 20vh;
    padding: 40px;
    aspect-ratio: 100/50;
    position: sticky;
}

.card.is-pinned {
    background-color: red;
}

@for $i from 1 through 3 {
    .card:nth-child(#{$i}) {
        top: 40px + $i * 30px;
        z-index: 2 + $i;
    }
}