<section class="hidden">
    <h1>Part 1</h1>
    <p>what it is..?</p>
</section>
<section class="hidden">
    <h3>The Return</h3>
    <p>could have fix</p>
</section>
<section class="hidden">
    <h1>If Only</h1>
    <div class="logos">
        <div class="logo hidden">
            <img src="https://api.dicebear.com/7.x/adventurer/svg?seed=Salem" alt="avatar" />
        </div>
        <div class="logo hidden">
            <img src="https://api.dicebear.com/7.x/adventurer/svg?seed=Mimi" alt="avatar" />
        </div>
        <div class="logo hidden">
            <img src="https://api.dicebear.com/7.x/adventurer/svg?seed=Peanut" alt="avatar" />
        </div>
        <div class="logo hidden">
            <img src="https://api.dicebear.com/7.x/adventurer/svg?seed=Spooky" alt="avatar" />
        </div>
    </div>
</section>