:host {
    display: flex;
    justify-content: center;
    background-color: var(--dark-color);
    align-items: center;
}

.container {
    flex: 1;
    display: flex;
    height: 20vh;
    flex-direction: row;
}

app-logo {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: left;
    padding-left: 20vh;
    padding-bottom: 2vh;
}

app-navbar {
    flex: 1;
}